body {
	background-image: url(pixelbg.jpg);
	background-size: 30%;
}

.box {
	display: inline-block;
	border: 1px solid black;
	width: 15px;
	height: 15px;
	margin-left: -1px;
	margin-bottom: -1px;
}

.off {
	background-color: lightgray;
}

.on {
	background-color: green;
}

.box:hover {
	background: #00ccff;
}

.center {
	margin: auto;
	display: table;
	margin-top: 10px;
}

.grid {
	width: 150px;
	line-height: 0;
	margin: auto;
	box-shadow: 0px 0px 20px white;
	margin-top: 20px;
}

h1,
h2,
h3,
h4 {
	color: white;
	margin: auto;
	text-align: center;
	width: 50%;
	margin-top: 10px;
}

h4 {
	margin-top: 0px;
}
p {
	color: white;
}

.rules {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn {
	margin: 2%;
	width: 100%;
}
button.btn.btn-primary {
	width: 200px;
}

.dropdown {
	width: 100%;
}

.dropdown-toggle.btn.btn-success {
	width: 200px;
}

.gridDisplay {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* margin-left: 5%; */
}

.howToPlay {
	text-align: center;
	margin: 10px 150px 10px 150px;
}
